<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--PRODUCCION-->
    <!--<add name="CallCenterConnectionString" connectionString="Data Source=SERVER8;Database=Eleccion;User ID=sa; password =vv2832f1" providerName="System.Data.SqlClient" />-->
    <!--**************-->
    
    <!--DESARROLLO CASA-->
    <add name="CallCenterConnectionString" connectionString="Server=tcp:azurepersonalsqlserver.database.windows.net,1433;Initial Catalog=Eleccion;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;User Id=sqlservermanager;Password=carlos0060*" />
     <!--**************-->
  
      <!--GEAR HOST-->
    <!--<add name="CallCenterConnectionString" connectionString="" />-->
     <!--**************-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
    <!--PRODUCCION-->
    <!--<add key="connectionString" value="Data Source=SERVER8;Database=Eleccion;User ID=sa; password =vv2832f1" />-->
    
    <!--DESARROLLO CASA-->
    <add key="connectionString" value="Server=tcp:azurepersonalsqlserver.database.windows.net,1433;Initial Catalog=Eleccion;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;User Id=sqlservermanager;Password=carlos0060*" />
    <!--**************-->
  
      <!--GEAR HOST-->
     <!--<add key="connectionString" value="Data Source=den1.mssql7.gear.host;Database=Eleccion;;User ID=eleccion; password =Tm46-9d5R32-" />-->
     <!--**************-->
  </appSettings>
</configuration>


